<nav class="navbar navbar-expand-sm bg-primary">
  <ul class="navbar-nav">
    <li class="item">
      <i class="fa fa-bars"></i>
    </li>
    <li class="item">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </li>
    <li class="item1">
      <h5>DIRECT TAX</h5>
    </li>
    <li class="list">
      <a href="#">Platform</a>
      <i class="fa fa-caret-down"></i>
    </li>
    <li class="item3">
      <i class="fa fa-search" aria-hidden="true"></i>
    </li>
    <li class="item1">
      <h5>K . Ashok</h5>
    </li>
    <li class="item4">
        <i class="fa fa-user-o" aria-hidden="true"></i>
      </li>
  </ul>
</nav>
